In [1]:
# Task 1. Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной
# даты для перевода в объект datetime:
# The Moscow Times - Wednesday, October 2, 2002
# The Guardian - Friday, 11.10.13
# Daily News - Thursday, 18 August 1977

In [2]:
from datetime import datetime

In [3]:
date_The_Moscow_Times = 'Wednesday, October 2, 2002'
date_The_Guardian = 'Friday, 11.10.13'
date_Daily_News = 'Thursday, 18 August 1977'

In [4]:
datetime_The_Moscow_Times = datetime.strptime(date_The_Moscow_Times, '%A, %B %d, %Y')
datetime_The_Guardian = datetime.strptime(date_The_Guardian, '%A, %d.%m.%y')
datetime_Daily_News = datetime.strptime(date_Daily_News, '%A, %d %B %Y')

In [5]:
datetime_The_Moscow_Times

datetime.datetime(2002, 10, 2, 0, 0)

In [6]:
datetime_The_Guardian

datetime.datetime(2013, 10, 11, 0, 0)

In [7]:
datetime_Daily_News

datetime.datetime(1977, 8, 18, 0, 0)

In [8]:
# https://docs.python.org/3/library/datetime.html

In [9]:
# Task 2. Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения: 
# stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]
# Напишите функцию, которая проверяет эти даты на корректность.
# Т.е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [10]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
stream

['2018-04-02', '2018-02-29', '2018-19-02']

In [11]:
def correct_date():
    for date in stream:
        try:
            if date == datetime.strptime(date, '%Y-%m-%d').strftime('%Y-%m-%d'):
                    print (date, True)
        except:
            print (date, False)
            
correct_date()

2018-04-02 True
2018-02-29 False
2018-19-02 False

In [12]:
# Task 3. Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date.
# Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться
# пустой список.

In [13]:
from datetime import timedelta

In [14]:
def date_range(start_date, end_date):
    try:
        if start_date == datetime.strptime(start_date, '%Y-%m-%d').strftime('%Y-%m-%d') and end_date == datetime.strptime(end_date, '%Y-%m-%d').strftime('%Y-%m-%d') and datetime.strptime(start_date, '%Y-%m-%d') < datetime.strptime(end_date, '%Y-%m-%d'):
            delta = datetime.strptime(end_date, '%Y-%m-%d') - datetime.strptime(start_date, '%Y-%m-%d')
            date_list = [(datetime.strptime(start_date, '%Y-%m-%d') + timedelta(days=x)).strftime('%Y-%m-%d') for x in range(delta.days+1)]
            return date_list
    except:
        date_list = []
        return date_list
        
#date_range('2020-11-13','2020-11-23')
#date_range('2019-02-29','2020-11-23')

In [15]:
# Task 4. Ваш коллега прислал код функции (см. ниже)
# При однократном вызове этой функции все работает корректно: delete_and_return_last_user(1) ‘A101’
# Однако, при повторном вызове получается ошибка IndexError: list index out of range.

# Задание:
# Что значит ошибка list index out of range?
# Почему при первом запуске функция работает корректно, а при втором - нет?

In [16]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """Удаляет из списка default_list последнего пользователя и возвращает ID нового последнего пользователя."""
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    return default_list[DEFAULT_USER_COUNT-2]


delete_and_return_last_user(1)

'A101'

In [17]:
# у меня ошибку не выдает, но при любом region вариант ответа неизменен 'A101'.
# вопросы, к-ые возникает у меня, глядя на данную функцию: 1) зачем вообще передавать region, если суть функции в удалении последнего
# пользователя? и 2) что значит region? У меня от значения region результат функции никак не меняется?

# ошибка list index out of range возникает, если поменять [DEFAULT_USER_COUNT-2] в return на значение отличное от -2 -3 -4 -5,
# т.к., после удаления -1 пользователя (1 и 2 шаги фукции), у нас остается в списке только 2 пользователя, поэтому return
# default_list [1], default_list [0], default_list [-1]  и default_list [-2] не вызывают ошибки, а все остальные выходят 
# за пределы массива и  возникает ошибка list index out of range