In [1]:
import pandas as pd

In [2]:
# Task 1. Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
#- оценка 2 и меньше - низкий рейтинг
#- оценка 4 и меньше - средний рейтинг
#- оценка 4.5 и 5 - высокий рейтинг
# Результат классификации запишите в столбец class

In [3]:
film_class = pd.read_csv('ratings.csv')
film_class.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
print(film_class.columns.tolist())

['userId', 'movieId', 'rating', 'timestamp']

In [5]:
film_class['rating'].unique()

array([2.5, 3. , 2. , 4. , 3.5, 1. , 5. , 4.5, 1.5, 0.5])

In [6]:
def classification(row):
    if row['rating'] <= 2.0:
        return 'low rating'
    elif row['rating'] >= 4.5:
        return 'high rating'
    elif 4.5 > row['rating'] > 2.0:
        return 'middle rating'
    else:
        return 'not rated'

In [7]:
film_class['class'] = film_class.apply(classification, axis = 1)
film_class

        userId  movieId  rating   timestamp          class
0            1       31     2.5  1260759144  middle rating
1            1     1029     3.0  1260759179  middle rating
2            1     1061     3.0  1260759182  middle rating
3            1     1129     2.0  1260759185     low rating
4            1     1172     4.0  1260759205  middle rating
...        ...      ...     ...         ...            ...
99999      671     6268     2.5  1065579370  middle rating
100000     671     6269     4.0  1065149201  middle rating
100001     671     6365     4.0  1070940363  middle rating
100002     671     6385     2.5  1070979663  middle rating
100003     671     6565     3.5  1074784724  middle rating

[100004 rows x 5 columns]

In [8]:
film_class['class'].unique()

array(['middle rating', 'low rating', 'high rating'], dtype=object)

In [9]:
# Task 2. Используем файл keywords.csv.
# Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону.
# Т.е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона.
# Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

# Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
# geo_data = {'Центр': ['москва', 'тула', 'ярославль'], 'Северо-Запад': ['петербург', 'псков', 'мурманск'], 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [10]:
df = pd.read_csv('keywords.csv')
df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [11]:
def location(row):
    if 'москва' in row['keyword'] or 'тула' in row['keyword'] or 'ярославль' in row['keyword']:
        return 'Центр'
    elif 'петербург' in row['keyword'] or 'псков' in row['keyword'] or 'мурманск' in row['keyword']:
        return 'Северо-Запад'
    elif 'владивосток' in row['keyword'] or 'сахалин' in row['keyword'] or 'хабаровск' in row['keyword']:
        return 'Дальний Восток'
    return 'undefined'

In [12]:
'спб' in df['keyword'].tolist()

True

In [13]:
df['region'] = df.apply(location, axis=1)
df

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]

In [14]:
df['region'].unique()

array(['undefined', 'Центр', 'Северо-Запад', 'Дальний Восток'],
      dtype=object)

In [15]:
filtered_region = df[(df['region'] == 'Северо-Запад')]
filtered_region.head()

                                                keyword   shows        region
370                            авито ру санкт петербург  425134  Северо-Запад
564                           погода в санкт петербурге  292489  Северо-Запад
1236                               банк санкт петербург  174375  Северо-Запад
1346                                    санкт петербург  144232  Северо-Запад
2121  электронный дневник санкт петербургского образ...   94835  Северо-Запад

In [16]:
'мурманск' in filtered_region['keyword'].tolist()

True

In [17]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль', 'воронеж'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [18]:
for key in geo_data:
    for i in range(0, len(geo_data[key])):
        print(geo_data[key][i])

москва
тула
ярославль
воронеж
петербург
псков
мурманск
владивосток
сахалин
хабаровск

In [19]:
loc = pd.read_csv('keywords.csv')
loc.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [20]:
def mapping(row):
    for key in geo_data:
        for i in range(0, len(geo_data[key])):
            if geo_data[key][i] in row['keyword']:
                return key
    
    return 'undefined'

In [21]:
loc['region'] = loc.apply(mapping, axis = 1)
loc

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]

In [22]:
loc['region'].unique()

array(['undefined', 'Центр', 'Северо-Запад', 'Дальний Восток'],
      dtype=object)

In [23]:
centre = loc[(loc['region'] == 'Центр')]
centre.head(20)

                                        keyword   shows region
127                                авито москва  979292  Центр
563                               авито воронеж  294335  Центр
849                             авито ярославль  209581  Центр
1259                                     москва  153050  Центр
1396                            гисметео москва  140279  Центр
1482                           госуслуги москва  133061  Центр
1579                                 авито тула  126168  Центр
1682                              погода москва  151701  Центр
1872               погода в воронеже на 10 дней  106268  Центр
1986                          погода в воронеже  101919  Центр
2108                             погода воронеж  110431  Центр
2723                           гисметео воронеж   81312  Центр
2785                         мое онлайн воронеж   79138  Центр
2806                   циан недвижимость москва   78729  Центр
3601                 камелот воронеж объявления   65180  Центр
3786                               метро москва   68024  Центр
4741                                    воронеж   51141  Центр
4753  авито авто с пробегом воронежская область   52951  Центр
4888   перекресток акции москва каталог сегодня   48619  Центр
5013                          фк спартак москва   49699  Центр

In [24]:
'ярославль' in centre['keyword'].tolist()

True

In [25]:
# Task 3.

In [26]:
years = list(map(str, [i for i in range(1950, 2011)]))
print(years)

['1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010']

In [27]:
len(years)

61

In [28]:
films = pd.read_csv('movies.csv')
films.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [29]:
films1 = pd.read_csv('ratings.csv')
films1.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [30]:
def production_year(row):
    for el in years:
        for i in range(0, len(years)):
            if years[i] in row['title']:
                return years[i]
    return '1900'

In [31]:
films ['year'] = films.apply(production_year, axis = 1)
films

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
...,...,...,...,...
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance,1900
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi,1900
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary,1900
9123,164977,The Gay Desperado (1936),Comedy,1900
9124,164979,"Women of '69, Unboxed",Documentary,1900

In [32]:
joined = films1.merge(films, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres,year
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,1995
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,1900
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,1996
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,1981
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,1989

In [53]:
average_rating = joined.groupby('year').agg({'rating': 'mean'}).sort_values('rating', ascending=False)
average_rating

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
...        ...
2005  3.448434
2003  3.444777
1996  3.426600
1997  3.415764
2000  3.356104

[62 rows x 1 columns]

In [58]:
x = joined[(joined['year']=='1952')]
x['rating'].mean()

4.0