In [20]:
import pandas as pd

In [21]:
# Task 1 - Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.
# Определите какому фильму было выставлено больше всего оценок 5.0

In [22]:
df = pd.read_csv('ratings.csv')

In [29]:
the_best_movie = df.query('rating == 5.0').groupby('movieId').count()[['userId']].sort_values('userId', ascending = False)
the_best_movie.reset_index().head(1)

   movieId  userId
0      318     153

In [5]:
list_of_best_rating = df.query('rating == 5.0')['movieId'].value_counts()
list_of_best_rating.head(1)

318    153
Name: movieId, dtype: int64

In [6]:
# Task 2 - По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
# категорий 4, 12 и 21 за период с 2005 по 2010 года.
# Не учитывайте в расчетах отрицательные значения quantity

In [7]:
data = pd.read_csv('power.csv')

In [8]:
#следующие три шага можно пропустить, сделала их для проверки

In [9]:
data[data['country'].str.contains('latv', case = False)]['country'].unique()

array(['Latvia'], dtype=object)

In [10]:
data[data['country'].str.contains('lit', case = False)]['country'].unique()

array(['Lithuania'], dtype=object)

In [11]:
data[data['country'].str.contains('eston', case = False)]['country'].unique()

array(['Estonia'], dtype=object)

In [12]:
filtered_countries = data[(data['country'] == 'Latvia')|(data['country'] == 'Lithuania')|(data['country'] == 'Estonia')]

In [13]:
consumption = filtered_countries.query('quantity > 0')

In [14]:
baltic_consumption = consumption[((consumption['category'] == 4)|(consumption['category'] == 12)|(consumption['category'] == 21))&((consumption['year'] >= 2005)&(consumption['year'] <= 2010))]
print(sum(baltic_consumption['quantity']))

240580.0

In [15]:
# Task 3 - Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe

In [16]:
url = 'http://cbr.ru/hd_base/RReserves/'
df = pd.read_html(url)[0]
df.head(20)

,Период усреднения обязательных резервов (указан первый день),Фактические среднедневные остатки средств на корсчетах,"Обязательные резервы, подлежащие усреднению на корсчетах",Обязательные резервы на счетах для их учета
0,09.09.2020,"2 699,0","2 633,9",6732
1,05.08.2020,"2 631,7","2 577,9",6592
2,08.07.2020,"2 589,6","2 528,5",6467
3,10.06.2020,"2 635,7","2 569,5",6563
4,13.05.2020,"2 699,5","2 634,6",6713
5,08.04.2020,"2 684,8","2 604,9",6648
6,11.03.2020,"2 536,4","2 430,8",6220
7,12.02.2020,"2 474,1","2 398,3",6127
8,15.01.2020,"2 479,3","2 418,4",6176
9,11.12.2019,"2 526,4","2 427,8",6174
10,06.11.2019,"2 499,1","2 436,2",6194
11,09.10.2019,"2 488,6","2 430,2",6189